model:
  base_learning_rate: 4.5e-6
  target: apps.VQGAN.models.vqgan.VQModel
  params:
    Rfn: '' # _syn
    # ckpt: /content/drive/MyDrive/storage/Pretrained_1024cluster_0.ckpt
    ckpt: /content/drive/MyDrive/storage/ML_Framework/VQGAN_OK/logs/2023-10-01T21-31-26_eyepacs_vqgan/checkpoints/lastV6.ckpt
    embed_dim: 256
    n_embed: 1024
    ddconfig:
      double_z: False
      z_channels: 256
      resolution: 256
      in_channels: 3
      out_ch: 3
      ch: 128
      ch_mult: [ 1,1,2,2,4]  # num_down = len(ch_mult)-1
      num_res_blocks: 2
      attn_resolutions: [16]
      dropout: 0.0

    lossconfig:
      target: apps.VQGAN.modules.losses.vqperceptual.VQLPIPSWithDiscriminator
      params:
        disc_conditional: False #False # True #False
        disc_in_channels: 3 # 4 #3 #6 #3
        # disc_start: 250001
        disc_start: True
        disc_weight: 0.8 #2.0 #0.8
        perceptual_weight: 0.1
        codebook_weight: 1.0

data:
  target: apps.VQGAN.modules.dataset.DataModuleFromConfig
  params:
    batch_size: 1 # 4 # 1 #4
    num_workers: 2 #24
    train:
      target: apps.VQGAN.data.eyepacs.eyepacsTrain
      params:
        config:
          DF_NAME: train_eyepacs.csv
          DF_KEY: image_id # select row inside dataframe
          DF_VAL: dr # class value -> It can be exact one of this: int, float, str
          DF_CLASS_TYPE: int # [default: int(for classification)], float(for regression), str(for classification)
          DF_CANDIDATE:
            MAX_N_IN_CAT: 500
          MODE_VAL: 1 #1
          EXT: jpeg
          SIZE: 256
          HOST_DIR: $KAGGLE_PATH
          NAME: eyepacs_all
          URL:
            synset: //data/config/eyepacs/synset_human.txt
            iSynset: $5 # or we can write this -> //data/config/eyepacs/index_synset.yaml
          FILES:
            - eyepacs.zip
    validation:
      target: apps.VQGAN.data.eyepacs.eyepacsValidation
      params:
        config:
          DF_NAME: val_eyepacs.csv
          DF_KEY: image_id # select row inside dataframe
          DF_VAL: dr # class value -> It can be exact one of this: int, float, str
          DF_CLASS_TYPE: int # [default: int(for classification)], float(for regression), str(for classification)
          DF_CANDIDATE:
            MAX_N_IN_CAT: 100
          MODE_VAL: 1 #1
          EXT: jpeg
          SIZE: 256
          HOST_DIR: $KAGGLE_PATH
          NAME: eyepacs_all
          URL:
            synset: //data/config/eyepacs/synset_human.txt
            iSynset: $5 # or insteadly we can write this -> //data/config/eyepacs/index_synset.yaml
          FILES:
            - eyepacs.zip
